<tr>
    <td height="20" valign="top" style="background-color:#FAF7E5">
        <div style="text-align:center;padding-top:10px;font-size:11px;font-family:Arial;padding:15px;color:#594129;">
            Möchtest Du keinen Newsletter mehr erhalten? <a style="color:#F36933" href="https://foodsharing.de/?page=login&sub=unsubscribe&t={{ TOKEN }}&e={{ EMAIL }}" target="_blank">Klicke hier zum Abbestellen!</a> Du kannst unter <a style="color:#F36933" href="https://foodsharing.de/?page=settings&sub=info" target="_blank">Benachrichtigungen</a> einstellen, welche Mails Du erhältst.
        </div>
        <p style="font-size:11px;"><strong>Impressum</strong><br />
            Angaben gemäß § 5 TMG:<br />
            <br />foodsharing e.<span style="white-space:nowrap">&thinsp;</span>V.<br/>
            Neven-DuMont-Str. 14<br />
            50667 Köln<br />
            Vertreten durch:<br /><br />
            Frank Bowinkelmann<br />
            Kontakt:<br />E-Mail: info@foodsharing.de<br />
            Registereintrag:<br /><br />Eintragung im Vereinsregister<br />
            Registergericht: Amtsgericht Köln<br />
            Registernummer: VR 17439<br />
            Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br />
            <br />Frank Bowinkelmann<br /></p>
    </td>
</tr>